td {
    padding: 1px;
    height: 1.5rem;
    border: black 1px solid;
    cursor: pointer;
    transition: 500ms;
}

td:hover {
    box-shadow: black 0 0 3px 2px;
}

table {
    width: 100%;
    text-align: center;
    border: black 1px solid;
    border-collapse: collapse;
}
